:root {
    --primary-color: #054aa1;
    --secondary-color: #48BBC6;
    --primary-color-light: #81b8e6;
    --button-bg-color: #f2f2f2;
    --button-text-color: #054aa1;
}

body {
    backdrop-filter: blur(0px);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(circle, rgba(101, 156, 192, 0.7), rgba(55, 89, 181, 0.6), rgba(241, 241, 255, 0.4), rgba(1, 1, 101, 0.3));
    background-size: 240% 240%;
    animation: gradient-animation 20s ease infinite;
}

.gradient-background {
    background: radial-gradient(circle, rgba(101, 156, 192, 0.7), rgba(55, 89, 181, 0.6), rgba(241, 241, 255, 0.4), rgba(1, 1, 101, 0.3));
    background-size: 240% 240%;
    animation: gradient-animation 20s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#username {
    margin-bottom: 5px;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    margin-bottom: 15px;
    width: 210px;
    display: flex;
    justify-content: center;
}
.login-submit {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    margin-top: 20px;
    margin-left: 55px;
  }
  
h2 {
    font-size: xx-large;
}

#password,
#username {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    outline-color: var(--primary-color);
    color: var(--primary);
}

.login-submit {
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: var(--White);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
}

#logo {
    margin: 0px auto 0px auto;
    z-index: 1;
    width: 150px;
    height: auto;
    margin-bottom: 30px;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-shadow: 0 10px 20px 0 var(--primary-color);
}


@media only screen and (max-width: 600px) {
    .login-container {
        width: 50%;
        max-width: 400px;
        height: auto;
        margin-top: 20px;
    }

    h2 {
        margin-bottom: 30px;
    }

    .input-group {
        width: 100%;
    }

    input[type="text"],
    input[type="password"],
    .login-submit {
        width: 100%;
    }

    #logo {
        width: 100px;
        margin-bottom: 20px;
    }
}
.logo_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}