.SearchBar {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.SearchInput, .selectCriteria {
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ccc;
  outline-color: #0056b3;
  border-radius: 4px;
  width: 200px;
  transition: all 0.3s ease; /* Transición suave para el hover */
  box-shadow: none; /* Por defecto sin sombra */
}

.SearchInput:hover, .selectCriteria:hover,
.SearchInput:focus, .selectCriteria:focus {
  transform: scale(0.98); /* Reducir un poco el tamaño al hacer hover o estar activo */
  box-shadow: 2px 2px 60px 0px white;
}

.SelectCriteria {
  width: 200px;
  height: 18px;
}

.SearchBar select {
  padding: 8px;
  margin-right: 8px;
}

.SearchBar button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.SearchBar button:hover {
  background-color: #0056b3;
}
