/* Estilos para la barra de búsqueda */
.search-bar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinear los elementos a la derecha */
    position: relative;
    bottom: 20px;
    justify-content: flex-end; /* Alinear los elementos a la derecha */
    color: black; /* Cambiado el color de la letra a negro */
}

.search-input-container {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-right: 10px; /* Espacio entre la barra de búsqueda y los criterios */
    position: relative;
    bottom: 20px;
}

.search-input-container input {
    border: none;
    outline: none;
    margin-right: 5px; /* Espacio entre el texto de búsqueda y el icono de búsqueda */
}

.search-icon {
    width: 20px; /* Tamaño del icono de búsqueda */
    border: none;
}

/* Estilos para los criterios de búsqueda */
.criteria-container {
    margin-top: -8px; /* Espacio entre la barra de búsqueda y los criterios */
    display: flex; /* Mostrar los criterios en línea */
    flex-direction:column; /* Mostrar los criterios uno encima del otro */
    align-items: flex-start;
    width: 15%;
}

.criteria-label {
    margin-right: 10px;
}
